<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}

<h4 style="margin-bottom:0px;padding-top:10px;">Journal Papers</h4>
<ul class="biblist">

<li ><p>
<a href="https://gangiswag.github.io" target="_blank">R.G. Reddy</a>,Y.R. Fung, <a href="https://vickizeng.com/" target="_blank">Q. Zeng</a>,  <a href="https://limanling.github.io/" target="_blank">M. Li</a>, <a href="https://wzq016.github.io/" target="_blank">Z. Wang</a>, <a href="https://blender.cs.illinois.edu/hengji.html" target="_blank">H. Ji</a>
<br><b>SmartBook: AI-Assisted Situation Report Generation</b>
<br><i>Under Review</i>, 2024<br />
<a href="javascript:toggleBibtex('reddy2023smartbook')">[BibTeX]</a>
<a href="https://arxiv.org/abs/2303.14337" target="_blank">[PDF]</a> <a href = "https://github.com/blender-nlp/SmartBook"  target="_blank">
[Project Page]</a>
</p>
<div id="bib_reddy2023smartbook" class="bibtex noshow">
<pre>
@article{reddy2023smartbook,
  title={SmartBook: AI-Assisted Situation Report Generation},
  author={Reddy, Revanth Gangi and Fung, Yi R and Zeng, Qi and Li, Manling and Wang, Ziqi and Sullivan, Paul and others},
  journal={arXiv preprint arXiv:2303.14337},
  year={2023}
}
</pre>
</div>
</li>

<li ><p>
K.H. Huang, H.P. Chan, Y.R. Fung, H. Qiu, S. Joty, M. Zhou, <a href="https://www.engineering.columbia.edu/faculty/shih-fu-chang" target="_blank">S.F. Chang</a>, <a href="https://blender.cs.illinois.edu/hengji.html" target="_blank">H. Ji</a>
<br><b>From Pixels to Insights: A Survey on Automatic Chart Understanding in the Era of Large Foundation Models</b>
<br><i>In Submission, IEEE Transactions on Knowledge and Data Engineering (TKDE)</i>, 2024<br />
<a href="javascript:toggleBibtex('huang2024pixels')">[BibTeX]</a>
<a href="https://arxiv.org/abs/2403.12027" target="_blank">[PDF]</a> <a href = "https://github.com/khuangaf/Awesome-Chart-Understanding"  target="_blank">
[Project Page]</a>
</p>
<div id="bib_huang2024pixels" class="bibtex noshow">
<pre>
@misc{huang2024pixels,
      title={From Pixels to Insights: A Survey on Automatic Chart Understanding in the Era of Large Foundation Models}, 
      author={Kung-Hsiang Huang and Hou Pong Chan and Yi R. Fung and Haoyi Qiu and Mingyang Zhou and Shafiq Joty and Shih-Fu Chang and Heng Ji},
      year={2024},
      eprint={2403.12027},
      archivePrefix={arXiv},
      primaryClass={cs.CL}
}
</pre>
</div>
</li>

<li ><p>
<a href="https://empathyang.github.io/" target="_blank">K. Yang</a>, <a href="https://lumos-jiateng.github.io/" target="_blank">J. Liu</a>, J. Wu, C. Yang, <a href="" target="_blank">Y.R. Fung</a>, <a href="https://raspberryice.github.io/" target="_blank">S. Li</a>, Z. Huang, X. Cao, <a href="" target="_blank">X. Wang</a>, Y. Wang, <a href="" target="_blank">H. Ji</a>, <a href="https://czhai.cs.illinois.edu/" target="_blank">C. Zhai</a>
<br><b>If LLM Is the Wizard, Then Code Is the Wand: A Survey on How Code Empowers Large Language Models to Serve as Intelligent Agents</b>
<br><i>Under Review (ACM Computing Survey)</i>, 2024.<br />
<a href="javascript:toggleBibtex('yang2024')">[BibTeX]</a>
<a href="https://arxiv.org/pdf/2401.00812.pdf" target="_blank">[PDF]</a> <a href = "https://github.com/blender-nlp"  target="_blank">
[Project Page]</a>
</p>
<div id="bib_yang2024" class="bibtex noshow">
<pre>
@misc{yang2024,
      title={If LLM Is the Wizard, Then Code Is the Wand: A Survey on How Code Empowers Large Language Models to Serve as Intelligent Agents},
      author={Ke Yang, Jiateng Liu, John Wu, Chaoqi Yang, Yi R. Fung, Sha Li, Zixuan Huang, Xu Cao, Xingyao Wang, Yiquan Wang, Heng Ji, Chengxiang Zhai},
      year={2024},
      eprint={2311.09677},
      archivePrefix={arXiv},
      primaryClass={cs.CL}
}
</pre>
</li>

<li ><p>
<a href="https://yujia-qin.github.io/" target="_blank">Y. Qin</a>, <a href="https://shengdinghu.github.io/" target="_blank">S. Hu</a>, <a href="https://linyankai.github.io/" target="_blank">Y. Lin</a>, <a href="https://scholar.google.com/citations?user=0CoGHtIAAAAJ" target="_blank">W. Chen</a>, <a href="https://www.stingning.cn/" target="_blank">N. Ding</a>, ..., Y.R. Fung, ..., <a href="https://jasonphang.com/" target="_blank">J. Phang</a>, <a href="https://www.cs.cmu.edu/~sherryw/" target="_blank">T. Wu</a>,<a href="https://blender.cs.illinois.edu/hengji.html" target="_blank">H. Ji</a>, <a href="https://nlp.csai.tsinghua.edu.cn/~lzy/" target="_blank">Z. Liu</a>, and <a href="https://www.cs.tsinghua.edu.cn/csen/info/1180/4033.htm" target="_blank">M. Sun</a>
<br><b>Tool Learning with Foundation Models</b>
<br><i>Under Review (ACM Computing Survey)</i>, 2024.<br />
<a href="javascript:toggleBibtex('qinyj2023')">[BibTeX]</a>
<a href="https://arxiv.org/abs/2304.08354" target="_blank">[PDF]</a> <a href = "https://github.com/OpenBMB/BMTools"  target="_blank">
[Project Page]</a>
</p>
<div id="bib_qinyj2023" class="bibtex noshow">
<pre>
@article{qinyj2023,
  title={Tool Learning with Foundation Models},
  author={Qin, Yujia and Shengding, Hu and Lin, Yunkai and Chen, Weize and Ding, Ning and Fung, Yi R. and Phang, Jason and Wu, Tongshuang and Ji, Heng and Liu, Zhiyuan and Sun, Maosong},
  journal={Arxiv},
  year={2023}
}
</pre>
</div>
</li>

<li ><p>
L. Liu, <a href="https://www.linkedin.com/in/ruining-zhao-57610621a/" target="_blank">R. Zhao</a>, <a href="boxindu2.web.illinois.edu" target="_blank">B. Du</a>, Y.R. Fung, <a href="blender.cs.illinois.edu/hengji.html" target="_blank">Heng Ji</a>, and <a href="http://tonghanghang.org/" target="_blank">H. Tong</a>
<br><b>Knowledge Graph Comparative Reasoning for Fact Checking: Problem Definition and Algorithms</b>
<br><i>Data Engineering</i>, 2022.<br />
<a href="javascript:toggleBibtex('liu2022')">[BibTeX]</a>
<a href="http://sites.computer.org/debull/A22dec/p19.pdf" target="_blank">[PDF]</a> <a href = "https://github.com/lihuiliullh/KompaRe"  target="_blank">
[Project Page]</a>
</p>
<div id="bib_liu2022" class="bibtex noshow">
<pre>
@article{liu2022,
  title={Knowledge Graph Comparative Reasoning for Fact Checking: Problem Definition and Algorithms},
  author={Liu, Lihui and Zhao, Ruining and Du, Boxin and Fung, Yi Ren and Ji, Heng and Xu, Jiejun and Tong, Hanghang},
  journal={Data Engineering},
  year={2022}
}
</pre>
</div>
</li>
</ul >


<h4 style="margin-bottom:0px;padding-top:10px;">Conference Papers</h4>
<!-- Generated from JabRef by PubList by Truong Nghiem at 11:44 on 2015.09.10. -->
<ul class="biblist">

<li ><p>
Y.R. Fung, R. Zhao, J. Doo, C. Sun, H. Ji
<br><b>No Culture Left Behind: Massively Multi-Cultural Knowledge Acquisition & LM Benchmarking on 1000+ Sub-Country Regions and 2000+ Ethnolinguistic Groups</b>
<br><i>Under Review</i>, 2024.<br />
<a href="javascript:toggleBibtex('fung2024')">[BibTeX]</a>
<a href="https://arxiv.org/abs/2402.09369" target="_blank">[PDF]</a> <a href = ""  target="_blank">
[Project Page]</a>
</p>
<div id="bib_fung2024" class="bibtex noshow">
<pre>
@misc{fung2024,
      title={No Culture Left Behind: Massively Multi-Cultural Knowledge Acquisition & LM Benchmarking on 1000+ Sub-Country Regions and 2000+ Ethnolinguistic Groups},
      author={Yi R. Fung, Ruining Zhao, Jae Doo, Chenkai Sun, Heng Ji},
      year={2024},
      eprint={2402.09369},
      archivePrefix={arXiv},
      primaryClass={cs.CL}
}
</pre>
</li>

<li ><p>
Y. Zhang, S. Li, J. Liu, P. Yu, Y.R. Fung, J. Li, M. Li, H. Ji
<br><b>Knowledge Overshadowing Causes Amalgamated Hallucination in Large Language Models: Analysis and Solution</b>
<br><i>Under Review</i>, 2024.<br />
<a href="javascript:toggleBibtex('zhang2024')">[BibTeX]</a>
<a href="https://arxiv.org/abs/" target="_blank">[PDF]</a> <a href = ""  target="_blank">
[Project Page]</a>
</p>
<div id="bib_zhang2024" class="bibtex noshow">
<pre>
@misc{fung2024,
      title={Knowledge Overshadowing Causes Amalgamated Hallucination in Large Language Models: Analysis and Solution},
      author={Yuji Zhang, Sha Li, Jiateng Liu, Pengfei Yu, Yi R. Fung, Jing Li, Manling Li, Heng Ji},
      year={2024},
      eprint={2311.},
      archivePrefix={arXiv},
      primaryClass={cs.CL}
}
</pre>
</li>

<li ><p>
S. Polisetty, J. Liu, Y.R. Fung, S.H. Lim, H. Guan, M. Sarafini
<br><b>GSplit: Scaling Graph Neural Network Training on Large Graphs via Split-Parallelism</b>
<br><i>Under Review</i>, 2024.<br />
<a href="javascript:toggleBibtex('polisetty2023gsplit')">[BibTeX]</a>
<a href="https://arxiv.org/abs/2303.13775" target="_blank">[PDF]</a> <a href = "https://github.com/blender-nlp"  target="_blank">
[Project Page]</a>
</p>
<div id="bib_polisetty2023gsplit" class="bibtex noshow">
<pre>
@article{polisetty2023gsplit,
  title={GSplit: Scaling Graph Neural Network Training on Large Graphs via Split-Parallelism},
  author={Polisetty, Sandeep and Liu, Juelin and Falus, Kobi and Fung, Yi Ren and Lim, Seung-Hwan and Guan, Hui and Serafini, Marco},
  journal={arXiv preprint arXiv:2303.13775},
  year={2023}
}
</pre>
</li>

<li ><p>
C. Han, <a href="https://liamjxu.github.io/" target="_blank">J. Xu</a>, <a href="https://limanling.github.io/" target="_blank">M. Li</a>, Y.R. Fung, C. Sun, <a href="https://nanjiang.cs.illinois.edu/" target="_blank">N. Jiang</a>, <a href="https://abdelzaher.cs.illinois.edu/" target="_blank">T. Abdelzaher</a>, H. Ji
<br><b>LM-Switch: Lightweight Language Model Conditioning in Word Embedding Space</b>
<br><i>ACL</i>, 2024.<br />
<a href="javascript:toggleBibtex('han2023lmswitch')">[BibTeX]</a>
<a href="https://arxiv.org/abs/2305.12798" target="_blank">[PDF]</a> <a href = "https://github.com/blender-nlp"  target="_blank">
[Project Page]</a>
</p>
<div id="bib_han2023lmswitch" class="bibtex noshow">
<pre>
@misc{han2023lmswitch,
      title={LM-Switch: Lightweight Language Model Conditioning in Word Embedding Space}, 
      author={Chi Han and Jialiang Xu and Manling Li and Yi Fung and Chenkai Sun and Nan Jiang and Tarek Abdelzaher and Heng Ji},
      year={2023},
      eprint={2305.12798},
      archivePrefix={arXiv},
      primaryClass={cs.CL}
}
</pre>
</li>

<li ><p>
<a href="https://steevehuang.netlify.app/" target="_blank">K.H. Huang</a>, <a href="https://scholar.google.com/citations?user=hIpaL2wAAAAJ&hl=en" target="_blank">M. Zhou</a>, <a href="https://scholar.google.com.hk/citations?user=HCljxf0AAAAJ" target="_blank">H.P. Chan</a>,  Y.R. Fung, Z. Wang, L. Zhang, <a href="https://www.engineering.columbia.edu/faculty/shih-fu-chang" target="_blank">S.F. Chang</a>, <a href="https://blender.cs.illinois.edu/hengji.html" target="_blank">H. Ji</a>
<br><b>Do LVLMs Understand Charts? Analyzing and Correcting Factual Errors in Chart Captioning</b>
<br><i>ACL Findings</i>, 2024.<br />
<a href="javascript:toggleBibtex('huang2023')">[BibTeX]</a>
<a href="https://arxiv.org/abs/2312.10160" target="_blank">[PDF]</a> <a href = "https://khuangaf.github.io/CHOCOLATE/"  target="_blank">
[Project Page]</a>
</p>
<div id="bib_huang2023" class="bibtex noshow">
<pre>
@misc{huang2024,
      title={Do LVLMs Understand Charts? Analyzing and Correcting Factual Errors in Chart Captioning},
      author={Kung-Hsiang Huang, Mingyang Zhou, Yi R. Fung, Zhenhailong Wang, Lingyu Zhang, Shih-Fu Chang, Heng Ji},
      year={2023},
      eprint={2312.10160},
      archivePrefix={arXiv},
      primaryClass={cs.CL}
}
</pre>
</li>

<li ><p>
Y.R. Fung, <a href="" target="_blank">A. Kumar</a>, <a href="https://www.isi.edu/people-galstyan/" target="_blank">A. Galastyan</a>, <a href="https://blender.cs.illinois.edu/hengji.html" target="_blank">H. Ji</a>, and <a href="https://www.capitalone.com/tech/culture/introducing-prem-natarajan/" target="_blank">P. Natarajan</a>.
<br><b>CourtQG: A Case Study of Agenda-driven Question Generation for the Courtroom Domain</b>
<br><i>COLING</i>, 2024.<br />
<a href="javascript:toggleBibtex('fung2024CourtQG')">[BibTeX]</a>
<a href="https://yrf1.github.io/publications/" target="_blank">[PDF]</a> <a href = "https://github.com/blender-nlp"  target="_blank">
[Project Page]</a>
</p>
<div id="bib_fung2024CourtQG" class="bibtex noshow">
<pre>
@misc{fung2024CourtQG,
      title={CourtQG: A Case Study of Agenda-driven Question Generation for the Courtroom Domain},
      author={Yi R. Fung, Anoop Kumar, Aram Galastyan, Heng Ji, and Prem Natarajan.},
      year={2024},
      eprint={2311.09677},
      archivePrefix={arXiv},
      primaryClass={cs.CL}
}
</pre>
</li>

<li ><p>
H. Zhang*, <a href="https://shizhediao.github.io/" target="_blank">S. Diao*</a>, Y. Lin*, Y.R. Fung, Q. Lian, <a href="https://xingyaoww.github.io/" target="_blank">X. Wang</a>, Y. Chen, <a href="https://blender.cs.illinois.edu/hengji.html" target="_blank">H. Ji</a>, <a href="https://tongzhang-ml.org/" target="_blank">T. Zhang</a>
<br><b>R-Tuning: Teaching Large Language Models to Refuse Unknown Questions</b>
<br><i>NAACL</i>, 2024.<br />
<a href="javascript:toggleBibtex('zhang2023rtuning')">[BibTeX]</a>
<a href="https://arxiv.org/abs/2311.09677" target="_blank">[PDF]</a> <a href = "https://github.com/blender-nlp"  target="_blank">
[Project Page]</a>
</p>
<div id="bib_zhang2023rtuning" class="bibtex noshow">
<pre>
@misc{zhang2023rtuning,
      title={R-Tuning: Teaching Large Language Models to Refuse Unknown Questions},
      author={Hanning Zhang, Shizhe Diao, Yong Lin, Yi R. Fung, Qing Lian, Xingyao Wang, Yangyi Chen, Heng Ji, Tong Zhang},
      year={2023},
      eprint={2311.09677},
      archivePrefix={arXiv},
      primaryClass={cs.CL}
}
</pre>
</li>

<li ><p>
<a href="https://lifan-yuan.github.io/" target="_blank">L. Yuan</a>, <a href="https://scholar.google.com/citations?hl=en&user=5e9tBtQAAAAJ" target="_blank">Y. Chen</a>, <a href="https://scholar.google.com/citations?user=F7qq3YcAAAAJ&hl=en" target="_blank">X. Wang</a>, Y.R. Fung, <a href="https://haopeng-nlp.github.io/" target="_blank">H. Peng</a>, <a href="https://blender.cs.illinois.edu/hengji.html" target="_blank">H. Ji</a>
<br><b>CRAFT: Customizing LLMS by Creating and Retrieving from Specialized Toolsets</b>
<br><i>ICLR</i>, 2024.<br />
<a href="javascript:toggleBibtex('yuan2023craft')">[BibTeX]</a>
<a href="https://arxiv.org/abs/2309.17428" target="_blank">[PDF]</a> <a href = "https://github.com/lifan-yuan/CRAFT"  target="_blank">
[Project Page]</a>
</p>
<div id="bib_yuan2023craft" class="bibtex noshow">
<pre>
@misc{yuan2023craft,
      title={CRAFT: Customizing LLMS by Creating and Retrieving from Specialized Toolsets},
      author={Lifan Yuan, Yangyi Chen, Xingyao Wang, Yi R Fung, Hao Peng, Heng Ji},
      year={2023},
      eprint={2305.12798},
      archivePrefix={arXiv},
      primaryClass={cs.CL}
}
</pre>
</li>

<li ><p>
Y.R. Fung, <a href="https://tuhinjubcse.github.io/" target="_blank">T. Chakraborty</a>, G. Hao, <a href="https://owenrambow.com/" target="_blank">O. Rambow</a>, <a href="http://www.cs.columbia.edu/~smara/" target="_blank">S. Muresan</a>, and <a href="https://blender.cs.illinois.edu/hengji.html" target="_blank">H. Ji</a>
<br><b>NormSAGE: Multi-Lingual Multi-Cultural Norm Discovery from Conversations On-the-Fly</b>
<br><i>EMNLP</i>, 2023.<br />
<a href="javascript:toggleBibtex('fung2023')">[BibTeX]</a>
<a href="https://arxiv.org/abs/2210.08604" target="_blank">[PDF]</a> <a href = "https://github.com/blender-nlp"  target="_blank">
[Project Page]</a>
</p>
<div id="bib_fung2023" class="bibtex noshow">
<pre>
@article{fung2023,
  title={NormSAGE: Multi-Lingual Multi-Cultural Norm Discovery from Conversations On-the-Fly},
  author={Fung, Yi R. and Chakraborty, Tuhin and Rambow, Owen. and Muresan, Smaranda and Ji, Heng},
  journal={EMNLP},
  year={2023}
}
</pre>
</div>
</li>

<li ><p>
C. Sun, J. Li, Y. R. Fung, <a href="https://kenchan0226.github.io/" target="_blank">H.P. Chan</a>, <a href="https://abdelzaher.cs.illinois.edu/" target="_blank">T. Abdelzaher</a>, <a href="https://czhai.cs.illinois.edu/" target="_blank">C. Zhai</a>, <a href="https://blender.cs.illinois.edu/hengji.html" target="_blank">H. Ji</a>
<br><b>Decoding the Silent Majority: Inducing Belief Augmented Social Graph with Large Language Model for Response Forecasting</b>
<br><i>EMNLP</i>, 2023.<br />
<a href="javascript:toggleBibtex('sun2023')">[BibTeX]</a>
<a href="https://arxiv.org/pdf/2310.13297.pdf" target="_blank">[PDF]</a> <a href = "https://github.com/blender-nlp"  target="_blank">
[Project Page]</a>
</p>
<div id="bib_sun2023" class="bibtex noshow">
<pre>
@article{sun2023,
  title={Decoding the Silent Majority: Inducing Belief Augmented Social Graph with Large Language Model for Response Forecasting},
  author={Chenkai Sun, Jinning Li, Yi R. Fung, Hou Pong Chan, Tarek Abdelzaher, Chengxiang Zhai, Heng Ji},
  journal={EMNLP},
  year={2023}
}
</pre>
</div>
</li>

<li ><p>
<a href="https://qiancheng0.github.io/" target="_blank">C. Qian</a>, C. Han, Y.R. Fung, <a href="https://yujia-qin.github.io/" target="_blank">Y. Qin</a>, <a href="https://nlp.csai.tsinghua.edu.cn/~lzy/" target="_blank">Z. Liu</a>, <a href="https://blender.cs.illinois.edu/hengji.html" target="_blank">H. Ji</a>
<br><b>CREATOR: Disentangling Abstract and Concrete Reasoning of Large Language Models through Tool Creation</b>
<br><i>EMNLP Findings</i>, 2023.<br />
<a href="javascript:toggleBibtex('qian2023creator')">[BibTeX]</a>
<a href="https://arxiv.org/abs/2305.14318" target="_blank">[PDF]</a> <a href = "https://github.com/blender-nlp"  target="_blank">
[Project Page]</a>
</p>
<div id="bib_qian2023creator" class="bibtex noshow">
<pre>
@article{qian2023creator,
      title={CREATOR: Disentangling Abstract and Concrete Reasonings of Large Language Models through Tool Creation}, 
      author={Cheng Qian and Chi Han and Yi R. Fung and Yujia Qin and Zhiyuan Liu and Heng Ji},
      year={2023},
      journal={ACL Findings}
}
</pre>
</li>

<li ><p>
S. Li, C. Han, P. Yu, C. Edwards, M. Li, X. Wang, Y.R. Fung, C. Yu, J. Tetreault, E. Hovy, H. Ji
<br><b>Defining a New NLP Playground</b>
<br><i>EMNLP Findings</i>, 2023.<br />
<a href="javascript:toggleBibtex('li2023position')">[BibTeX]</a>
<a href="https://arxiv.org/pdf/2310.20633.pdf" target="_blank">[PDF]</a> <a href = "https://github.com/blender-nlp"  target="_blank">
[Project Page]</a>
</p>
<div id="bib_li2023position" class="bibtex noshow">
<pre>
@article{Li2023position,
      title={Defining a New NLP Playground},
      author={Sha Li and Chi Han abd Pengfei Yu and Carl Edwards and Manling Li and Xingyao Wang and Yi R. Fung and Charles Yu and Joel R. Tetreault and Eduard H. Hovy and Heng Ji1},
      year={2023},
      journal={ACL Findings}
}
</pre>
</li>

<li ><p>
M. Zhou, Y.R. Fung, C. Thomas, L. Chen, H. Ji, S.F. Chang
<br><b>Enhance Chart Understanding via Visual Language Pre-training on Plot Table Pairs</b>
<br><i>ACL Findings</i>, 2023.<br />
<a href="javascript:toggleBibtex('yang2023')">[BibTeX]</a>
<a href="https://arxiv.org/abs/2211.05414" target="_blank">[PDF]</a> <a href = "https://github.com/EmpathYang/ADEPT"  target="_blank">
[Project Page]</a>
</p>
<div id="bib_zhou2023" class="bibtex noshow">
<pre>
@article{zhou2023,
  title={Enhance Chart Understanding via Visual Language Pre-training on Plot Table Pairs},
  author={Zhou, Mingyang and Fung, Yi and Thomas, Chris and Chen, Long and Ji, Heng and Chang, Shih-fu},
  journal={ACL Findings},
  year={2023}
}
</pre>
</div>
</li>

<li ><p>
Y.R. Fung, H. Wang, T. Wang, P. Natarajan, A. Kebarighotbi, M. Bansal, <a href="https://blender.cs.illinois.edu/hengji.html" target="_blank">H. Ji</a>
<br><b>DeepMaven: Deep Question Answering on Long-Distance Movie/TV Show Videos with Multimedia Knowledge Extraction and Synthesis</b>
<br><i>EACL</i>, 2023.<br />
<a href="javascript:toggleBibtex('yang2023')">[BibTeX]</a>
<a href="https://arxiv.org/abs/2211.05414" target="_blank">[PDF]</a> <a href = "https://github.com/EmpathYang/ADEPT"  target="_blank">
[Project Page]</a> 
</p>
<div id="bib_fung2023" class="bibtex noshow">
<pre>
@article{fung2023,
  title={DeepMaven: Deep Question Answering on Long-Distance Movie/TV Show Videos with Multimedia Knowledge Extraction and Synthesis},
  author={Fung, Yi and Wang, Han and Wang, Tong and Bansal, Mohit and Ji, Heng},
  journal={EACL},
  year={2023}
}
</pre>
</div>
</li>
	
<li ><p>
K. Yang, C. Yu, Y.R. Fung, <a href="https://limanling.github.io/" target="_blank">M. Li</a>, and <a href="https://blender.cs.illinois.edu/hengji.html" target="_blank">H. Ji</a>
<br><b>ADEPT: A DEbiasing PrompT Framework</b>
<br><i>AAAI</i>, 2023.<br />
<a href="javascript:toggleBibtex('yang2023')">[BibTeX]</a>
<a href="https://arxiv.org/abs/2211.05414" target="_blank">[PDF]</a> <a href = "https://github.com/EmpathYang/ADEPT"  target="_blank">
[Project Page]</a> 
</p>
<div id="bib_yang2023" class="bibtex noshow">
<pre>
@article{yang2023,
  title={ADEPT: A DEbiasing PrompT Framework},
  author={Yang, Ke and Yu, Charles and Fung, Yi R. and Li, Manling and Ji, Heng},
  journal={AAAI},
  year={2023}
}
</pre>
</div>
</li>

<li ><p>
<a href="https://gangiswag.github.io" target="_blank">R.G. Reddy</a>, S.C. Chinthakindi, Z. Wang, <a href="yrf1.github.io" target="_blank">Y.R. Fung</a>, <a href="https://scholar.google.com/citations?user=pxc_-XYAAAAJ" target="_blank">M. Palmer</a>, <a href="https://scholar.google.com/citations?hl=en&user=DfXsKZ4AAAAJ" target="_blank">P. Nakov</a>, and <a href="https://blender.cs.illinois.edu/hengji.html" target="_blank">Heng Ji</a>
<br><b>NewsClaims: A New Benchmark for Claim Detection from News with Attribute Knowledge</b><br>
<i>EMNLP</i>, 2022.
<br />
<a href="javascript:toggleBibtex('Reddy2022a')">[BibTeX]</a>
<a href="https://arxiv.org/abs/2112.08544" target="_blank">[PDF]</a> <a href = "https://github.com/blender-nlp/NewsClaims"  target="_blank">
[Project Page]</a> 
</p>
<div id="bib_Reddy2022a" class="bibtex noshow">
<pre>
@article{reddy2021newsclaims,
  title={NewsClaims: A New Benchmark for Claim Detection from News with Background Knowledge},
  author={Reddy, Revanth Gangi and Chinthakindi, Sai and Wang, Zhenhailong and Fung, Yi R and Conger, Kathryn S and Elsayed, Ahmed S and Palmer, Martha and Ji, Heng},
  journal={EMNLP},
  year={2021}
}
</pre>
</div>
</li>

<li ><p>
<a href="https://gangiswag.github.io" target="_blank">R.G. Reddy</a>, S.C. Chinthakindi, <a href="yrf1.github.io" target="_blank">Y.R. Fung</a>, K. Small, and <a href="https://blender.cs.illinois.edu/hengji.html" target="_blank">Heng Ji</a>
<br><b>A Zero-Shot Claim Detection Framework using Question Answering</b><br>
<i>COLING</i>, 2022.
<br />
<a href="javascript:toggleBibtex('Reddy2022b')">[BibTeX]</a>
<a href="https://blender.cs.illinois.edu/paper/claimqa2022.pdf" target="_blank">[PDF]</a> <a href = "https://github.com/Information-Fusion-Lab-Umass/flare/blob/master/README.md"  target="_blank">
[Project Page]</a> 
</p>
<div id="bib_Reddy2022b" class="bibtex noshow">
<pre>
@article{reddy2022newsclaimsQA,
  title={A Zero-Shot Claim Detection Framework using Question Answering},
  author={Reddy, Revanth Gangi and Chinthakindi, Sai and Fung, Yi R and Small, Kevin and Ji, Heng},
  journal={COLING},
  year={2022}
}
</pre>
</div>
</li>

<li ><p>
<a href="https://shirley-wu.github.io/" target="_blank">X. Wu</a>, <a href="https://steevehuang.netlify.app/" target="_blank">K.H. Huang</a>, Y.R. Fung, <a href="https://blender.cs.illinois.edu/hengji.html" target="_blank">Heng Ji</a>
<br><b>Cross-document Misinformation Detection based on Event Graph Reasoning</b><br>
<i>The North American Chapter of the Association for Computational Linguistics (NAACL) Conference</i>,
2022.
<br />
<a href="javascript:toggleBibtex('wu2022infosurgeon')">[BibTeX]</a>
<a href="https://aclanthology.org/2022.naacl-main.40/" target="_blank">[PDF]</a> <a href = "https://github.com/shirley-wu/cross-doc-misinfo-detection"  target="_blank">
[Project Page]</a> 
</p>
<div id="bib_wu2022infosurgeon" class="bibtex noshow">
<pre>
@inproceedings{wu2022infosurgeon,
  title={Cross-document Misinformation Detection based on Event Graph Reasoning},
  author={Wu, Xueqing and Huang, Kung-Hsiang and Fung, Yi R. and Ji, Heng},
  booktitle={Proceedings of the 2022 Conference of the North American Chapter of the Association for Computational Linguistics - Human Language Technologies (NAACL-HLT2022)},
  year={2022}
}
</pre>
</div>
</li>

<li ><p>
Y.R. Fung, <a href="https://people.cs.pitt.edu/~chris/" target="_blank">C. Thomas</a>, <a href="https://gangiswag.github.io" target="_blank">R.G. Reddy</a>, S. Polisetty, <a href="https://blender.cs.illinois.edu/hengji.html" target="_blank">Heng Ji</a>, <a href="https://www.ee.columbia.edu/~sfchang/" target="_blank">S.F. Chang</a>, M. Bansal, and A. Sil
<br><b>InfoSurgeon: Cross-Media Fine-grained Information Consistency Checking for Fake News Detection</b><br>
<i>The Association for Computational Linguistics (ACL) Conference</i>,
2021.
<br />
<a href="javascript:toggleBibtex('fung2021infosurgeon')">[BibTeX]</a>
<a href="http://proceedings.mlr.press/v106/devarakonda19a/devarakonda19a.pdf" target="_blank">[PDF]</a> <a href = "https://github.com/Information-Fusion-Lab-Umass/flare/blob/master/README.md"  target="_blank">
[Project Page]</a> 
</p>
<div id="bib_fung2021infosurgeon" class="bibtex noshow">
<pre>
@inproceedings{fung2021infosurgeon,
  title={Infosurgeon: Cross-media fine-grained information consistency checking for fake news detection},
  author={Fung, Yi and Thomas, Christopher and Reddy, Revanth Gangi and Polisetty, Sandeep and Ji, Heng and Chang, Shih-Fu and McKeown, Kathleen and Bansal, Mohit and Sil, Avirup},
  booktitle={Proceedings of the 59th Annual Meeting of the Association for Computational Linguistics and the 11th International Joint Conference on Natural Language Processing (Volume 1: Long Papers)},
  pages={1683--1698},
  year={2021}
}
</pre>
</div>
</li>
	
<li ><p>
L. Liu, <a href="boxindu2.web.illinois.edu" target="_blank">B. Du</a>, Y.R. Fung, <a href="blender.cs.illinois.edu/hengji.html" target="_blank">Heng Ji</a>, and <a href="http://tonghanghang.org/" target="_blank">H. Tong</a>
<br><b>KompaRe: A Knowledge Graph Comparative Reasoning System</b><br>
<i>Special Interest Group on Knowledge Discovery and Data Mining(SIGKDD) Conference</i>,
2021.
<br />
<a href="javascript:toggleBibtex('liu2021kompare')">[BibTeX]</a>
<a href="https://dl.acm.org/doi/abs/10.1145/3447548.3467128" target="_blank">[PDF]</a> <a href = "https://github.com/Information-Fusion-Lab-Umass/flare/blob/master/README.md"  target="_blank">
[Project Page]</a> 
</p>
<div id="bib_liu2021kompare" class="bibtex noshow">
<pre>
@inproceedings{liu2021kompare,
  title={KompaRe: A Knowledge Graph Comparative Reasoning System},
  author={Liu, Lihui and Du, Boxin and Fung, Yi Ren and Ji, Heng and Xu, Jiejun and Tong, Hanghang},
  booktitle={Proceedings of the 27th ACM SIGKDD Conference on Knowledge Discovery \& Data Mining},
  pages={3308--3318},
  year={2021}
}
</pre>
</div>
</li>
	
<li ><p>
S.T. Deja, J.Y. Wu, <a href="yrf1.github.io" target="_blank">Y.R. Fung</a>, and <a href="https://www.cics.umass.edu/people/fiterau-brostean-madalina" target="_blank">M. Fiterau</a>
<br><b>FLARe: Forecasting by Learning Anticipated Representations</b><br>
<i>Machine Learning for Healthcare (MLHC) Conference</i>,
2019.
<br />
<a href="javascript:toggleBibtex('Maninis2018b')">[BibTeX]</a>
<a href="http://proceedings.mlr.press/v106/devarakonda19a/devarakonda19a.pdf" target="_blank">[PDF]</a> <a href = "https://github.com/Information-Fusion-Lab-Umass/flare/blob/master/README.md"  target="_blank">
[Project Page]</a> 
</p>
<div id="bib_Maninis2018b" class="bibtex noshow">
<pre>
@inproceedings{Devara2019,
  author = {S.T. Devarakonda and J.Y. Wu and Y.R. Fung and M. Fiterau},
  title = {FLARe: Forecasting by Learning Anticipated Representations},
  booktitle = {Machine Learning for Healthcare},
  year = {2019}
}
</pre>
</div>
</li>

      </ul  >

<h4 style="margin-bottom:0px;padding-top:10px;">Demo Papers</h4>

<!-- Generated from JabRef by PubList by Truong Nghiem at 10:08 on 2017.01.16. -->
<ul class="biblist">

<!-- Item: Farre2017 -->
<li ><p>
<a href="https://eaglew.github.io/cv/" target="_blank">Q.Y. Wang</a>, <a href="https://limanling.github.io/" target="_blank">M. Li</a>, <a href="https://xuanwang91.github.io/" target="_blank">X. Wang</a>, Y. Lin, <a href="yrf1.github.io" target="_blank">Y.R. Fung</a>, ..., <a href="https://blender.cs.illinois.edu/hengji.html" target="_blank">Heng Ji</a>, <a href="https://scholar.google.com/citations?user=Kv9AbjMAAAAJ" target="_blank">J. Han</a>, S.F. Chang, M. Palmer, and <a href="https://scholar.google.com/citations?user=n8gJ2MgAAAAJ" target="_blank">C. Voss</a>
<br><b>COVID-19 literature knowledge graph construction and drug repurposing report generation</b><br>
<i>Conference of the North American Chapter of the Association for Computational Linguistics (NAACL) Best Demo Award</i>,
2021.
<br />
<a href="javascript:toggleBibtex('wang2020covid')">[BibTeX]</a>
<a href="https://aclanthology.org/2021.naacl-demos.8/" target="_blank">[PDF]</a> <a href="http://blender.cs.illinois.edu/covid19/"  target="_blank">
[Project Page]</a> 
</p>
<div id="bib_wang2020covid" class="bibtex noshow">
<pre>
@article{wang2020covid,
  title={COVID-19 literature knowledge graph construction and drug repurposing report generation},
  author={Wang, Qingyun and Li, Manling and Wang, Xuan and Parulian, Nikolaus and Han, Guangxing and Ma, Jiawei and Tu, Jingxuan and Lin, Ying and Zhang, Haoran and Liu, Weili and others},
  journal={arXiv preprint arXiv:2007.00576},
  year={2020}
}
</pre>
</div>
</li>

<li ><p>
<a href="https://www.haoyangwen.com/" target="_blank">H. Wen</a>, <a href="https://people.cs.umass.edu/~freedman/" target="_blank">Y. Lin</a>, <a href="https://laituan.io/" target="_blank">T. Lai</a>, <a href="https://panx27.github.io/homepage/" target="_blank">X. Pan</a>, <a href="https://people.cs.umass.edu/~freedman/" target="_blank">S. Li</a>, <a href="https://people.cs.umass.edu/~freedman/" target="_blank">X. Lin</a>, <a href="https://limanling.github.io/" target="_blank">M. Li</a>, <a href="yrf1.github.io" target="_blank">Y.R. Fung</a>, <a href="http://www.cs.columbia.edu/~vondrick/" target="_blank">C. Vondrick</a>, J.Han, <a href="https://www.cis.upenn.edu/~danroth/" target="_blank">D. Roth</a>, S.F. Chang, and <a href="https://groups.cs.umass.edu/shlomo/" target="_blank">Heng Ji</a>
<br><b>RESIN: A Dockerlized Schema-Guided Cross-document Cross-lingual Cross-media Information Extraction and Event Tracking System</b><br>
<i> Conference of the North American Chapter of the Association for Computational Linguistics (NAACL)</i>,
2021.
<br />
<a href="javascript:toggleBibtex('wen2021resin')">[BibTeX]</a>
<a href="https://aclanthology.org/2021.naacl-demos.16/" target="_blank">[PDF]</a> <a href="https://github.com/RESIN-KAIROS/RESIN-pipeline-public"  target="_blank">
[Project Page]</a> 
</p>
<div id="bib_wen2021resin" class="bibtex noshow">
<pre>
@inproceedings{wen2021resin,
  title={RESIN: A Dockerized Schema-Guided Cross-document Cross-lingual Cross-media Information Extraction and Event Tracking System},
  author={Wen, Haoyang and Lin, Ying and Lai, Tuan and Pan, Xiaoman and Li, Sha and Lin, Xudong and Zhou, Ben and Li, Manling and Wang, Haoyu and Zhang, Hongming and others},
  booktitle={Proceedings of the 2021 Conference of the North American Chapter of the Association for Computational Linguistics: Human Language Technologies: Demonstrations},
  pages={133--143},
  year={2021}
}
</pre>
</div>
</li>


</ul >

<h4 style="margin-bottom:0px;padding-top:10px;">Tutorial and Workshop Papers</h4>

<!-- Generated from JabRef by PubList by Truong Nghiem at 10:08 on 2017.01.16. -->
<ul class="biblist">

    <!-- Item: Maninis2018b -->
<li ><p>
<a href="yrf1.github.io" target="_blank">Y.R. Fung</a>, K.H. Huang, P. Nakov, and <a href="https://www.cics.umass.edu/people/fiterau-brostean-madalina" target="_blank">H. Ji</a>
<br><b>The Battlefront of Combating Misinformation and Coping with Media Bias</b><br>
<i>KDD 2022 and AACL 2022 Tutorial</i>,
2022.
<br />
<a href="javascript:toggleBibtex('Fung2022')">[BibTeX]</a>
<a href="https://dl.acm.org/doi/abs/10.1145/3534678.3542615" target="_blank">[PDF]</a> <a href="https://khuangaf.github.io/kdd-tutorial-2022/"  target="_blank">
[Project Page]</a> 
</p>
<div id="bib_Fung2022" class="bibtex noshow">
<pre>
@inproceedings{Fung2022,
  author = {Y.R. Fung and K.H. Huang and P. Nakov and H. Ji},
  title = {The Battlefront of Combating Misinformation and Coping with Media Bias},
  booktitle = {AACL Tutorial},
  year = {2022}
}
</pre>
</div>
</li>

    <!-- Item: Maninis2018b -->
<li ><p>
<a href="yrf1.github.io" target="_blank">Y.R. Fung</a>, Z. Guan, R. Kumar, J.Y. Wu and <a href="https://www.cics.umass.edu/people/fiterau-brostean-madalina" target="_blank">M. Fiterau</a>
<br><b>Alzheimers Disease Brain MRI Classification: Challenges and Insights</b><br>
<i>IJCAI Workshop on AI for Aging, Rehabilitation and Independent Assisted Living</i>,
2019.
<br />
<a href="javascript:toggleBibtex('Fung2019')">[BibTeX]</a>
<a href="https://arxiv.org/abs/1906.04231" target="_blank">[PDF]</a> <a href="https://github.com/Information-Fusion-Lab-Umass/alzheimers-cnn-study"  target="_blank">
[Project Page]</a> 
</p>
<div id="bib_Fung2019" class="bibtex noshow">
<pre>
@inproceedings{Fung2019,
  author = {Y.R. Fung and Z. Guan and J.Y. Wu and M. Fiterau},
  title = {Alzheimers Disease Brain MRI Classification: Challenges and Insights},
  booktitle = {IJCAI Workshop on AI for Aging, Rehabilitation and Independent Assisted Living},
  year = {2019}
}
</pre>
</div>
</li>


</div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
